
/* -- oscuro:#8105ce,mas: #3d0163
claro: #d999fcb7
amarillo: #F1EB7D*/

.navbar_head{
  background: linear-gradient(#3d0163,#c861ff33);
  height: 50px;
}
.nav_letra{
color: rgb(81, 1, 112);
font-size: 1.2rem;
font-weight: bold;
text-shadow: 1px 1px 3px rgb(180, 111, 240), 0 0 25px rgb(161, 59, 220), 0 0 5px rgb(156, 3, 227);
}
.nav_letra:hover{
  font-size: 1.5rem;
}
.mi_letra{
  font-size: 1.1rem;
  color: rgb(240, 204, 254);
  text-shadow: 1px 1px 3px rgb(98, 2, 136), 0 0 25px rgb(109, 2, 152), 0 0 5px rgb(58, 2, 81);

}
.nav_spider{
  color: rgb(51, 3, 70);
  font-weight: bold;
}
.wall_letra:hover{
  font-weight:bolder;
  color: rgb(75, 5, 102);
  /* font-size: 1.5rem; */
 }
.card_header {
  background: transparent;
  /* border: 2px solid #b881d6;
  border-top: #b575dc;
  border-left: #b575dc;
  border-right: #b575dc;
  border-bottom: 50% transparent; */
 /* box-shadow: 38px 2px 14px 12px #d899f9 inset; */
}
.home_card{
  background-color: transparent;
  border: transparent;
  width: 30%;
  height: 30%;
}
.home_img{
  border: 10px double #b575dc;
  border-radius: 50%;
  transition: 0.5s;
 }
 .home_img:hover{
   border: 5px dashed #870bd4;
   border-radius: 30px;
   transition: 0.5s;
   background-color: #cd7dff;
 }

.contenido{

  background: transparent; 
  padding-top: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: -webkit-linear-gradient(to left,#fde5b276, #d28df89c,#afd4ff92),url('/public/img/ng1.png');  
  background: linear-gradient(to left,#fffa9676, #d27eff9c,#8bc0fc92 ),url('/public/img/ng1.png');
  background-size: auto;
  
  }
.card_img{
  border-radius: 25px;
  height: 50%;
  width: 40%;
  border: 3px dashed #9e07f0;
  border-left: transparent;
  border-top: transparent;
 margin-left: 20px;
}
.navbar_footer{
 background: linear-gradient(#cb20ff31,#3d0163);
 height: 65px;

}
.letra_footer{
  font-weight: bolder;
  margin-bottom: -7px;
}
.mi_card{
  background-color: rgba(255, 255, 255, 0.368);
  height: auto;
  padding-top: 28px;
  padding-left: 10px;
  border-radius: 15%;
  border: 3px double #ab23ff;
  border-left:transparent;
  border-right: transparent;
  width: 500px;
}
.nuevo_btn{
  background-color: transparent;
  border-radius: 30%;
  color: #38025a;
  font-weight: bold;
  box-shadow: 14px 2px 14px 2px #8216c5 inset;
  text-shadow: 2px 1px 5px #b575dc;
  margin-bottom: 35px;
}
.card_btn{
  background-color: transparent;
  border-radius: 30%;
  color: #38025a;
  font-weight: bold;
  box-shadow: 14px 2px 14px 2px #8216c5 inset;
  text-shadow: 2px 1px 5px #b575dc;
}
.btn_back{
  background-color: transparent;
  border-radius: 30%;
  color: #3e413f;
  font-weight: bold;
  box-shadow: 14px 2px 14px 2px #6e706e inset;
  text-shadow: 1px 1px 5px #6e706e;
}
.btn_delete{
  background-color: transparent;
  border-radius: 30%;
  color: #6c190a;
  font-weight: bold;
  box-shadow: 14px 2px 14px 2px #a01b04 inset;
  text-shadow: 1px 1px 5px #771302;
}
.btn_buscar{
  color: #282828;
  font-weight: bold;
  background-color: #fff;
  border: 3px solid #6e706e;
  border-radius: 30px;
  box-shadow: 8px 4px 14px 6px #6e706e inset;
}
.btn_up{
  float: right;
}
.mi_form{
  width: 40%;
  height: auto;
  border: 20px solid #d9a8f8;
  border-radius: 80px;
  border-bottom: #b575dc;
  border-top: #b575dc;
  padding-bottom: 5px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.753);
}

.mod_card{
  width: 40%;
  height: auto;
  border: 10px groove #b64af9;
  border-radius: 80px;
  border-bottom: #b575dc;
  border-top: #b575dc;
  background-color: #f2dffc;
}
/* #b575dc,#d9a8f8 */
#flashMessage{
    position: absolute;
    margin-top: 60px;
    width: auto;
    height: 50px;
    border-radius: 10px;
    border: 3px dashed rgb(25, 132, 37);
    font-size: 18px;
    font-weight:bold;
    background-color: #efd8ff;
    color:green;
  }

  .flashMsg{
    position:absolute;
    top: 60px;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: 3px dashed rgb(25, 132, 37);
    background-color: rgb(209, 255, 214);
    color: rgb(25, 132, 37);
    font-size: 18px;
    font-weight:bold;
  }
  
.pagetitle{
  margin-top: 7%;
  color: rgb(75, 5, 102);
  font-weight:bolder;
  font-size: 40px;
}

